<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Databases</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav">
                    <a class="btn btn-outline-primary" routerLink="/connections/{{connectionId}}/databases/add" title="Create Database">+</a>
                </div>
            </div>
        </div>
    </nav>
    <table class="table table-striped">
        <thead>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let database of databases">
                <td>{{database.name}}</td>
            </tr>
        </tbody>
    </table>
</div>