<app-bread-crumbs [crumbs]="crumbs"></app-bread-crumbs>
<form class="container" #form="ngForm">
    <div *ngIf="table">
        <div class="row p-3">
            <label class="form-label col-form-label col-sm-1" for="host">Schema:</label>
            <div class="col-sm-6">
                <input id="schema" name="schema" type="text" class="form-control-plaintext" value="{{table.schemaName}}" readonly>
            </div>
        </div>
        <div class="row p-3">
            <label class="form-label col-form-label col-sm-1" for="name">Name:</label>
            <div class="col-sm-6">
                <input id="name" name="name" type="text" class="form-control-plaintext" value="{{table.tableName}}" readonly>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="p-2 col-12">
            <div class="btn-toolbar">
                <div class="btn-group me-2">
                    <a class="btn btn-secondary" routerLink="/connections/{{connectionId}}/view">Cancel</a>
                </div>
                <div class="btn-group me-2" *ngIf="table">
                    <button class="btn btn-danger" (click)="drop()">Drop</button>
                </div>
            </div>
        </div>
    </div>
</form>