<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Tables</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav">
                    <a class="btn btn-outline-primary" routerLink="/connections/{{connectionId}}/tables/add" title="Add">+</a>
                </div>
            </div>
        </div>
    </nav>
    <table class="table table-striped">
        <thead>
            <th class="buttonColumn"></th>
            <th class="schemaColumn"></th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let table of tables">
                <td class="buttonColumn-3">
                    <div class="btn-toolbar">
                        <div class="btn-group me-2">
                            <a class="btn btn-outline-danger" href="/connections/{{connectionId}}/tables/{{table.schemaName}}/{{table.tableName}}/delete" title="Drop Table">X</a>
                        </div>
                        <div class="btn-group me-2">
                            <a class="btn btn-outline-primary" href="/connections/{{connectionId}}/tables/{{table.schemaName}}/{{table.tableName}}/schema" title="View Schema"><i class="bi bi-boxes"></i></a>
                        </div>
                        <div class="btn-group me-2">
                            <a class="btn btn-outline-primary" href="/connections/{{connectionId}}/tables/{{table.schemaName}}/{{table.tableName}}/data" title="View Data"><i class="bi bi-table"></i></a>
                        </div>
                    </div>
                </td>
                <td>{{table.schemaName}}</td>
                <td>{{table.tableName}}</td>
            </tr>
        </tbody>
    </table>
</div>